<% include ./partials/header.ejs %>
    <main>
        <section class="container">
            <div class="jumbotron mt-5 p-5">
                <div class="container">
                    <h1 class="display-3"><i class="fas fa-map-marked-alt mr-3 mb-4"></i>Welcome to YelpCamp!</h1>
                    <h6 class="lead mb-4">View our hand-picked campgrounds from all over the world!</h6>
                    <button class="btn btn-primary btn-large mb-4">Add New Campground</button>
                    <label for="search-query" class="d-inline">
                        <input type="text" class="form-control" placeholder="Campground Search..." name="search-query">
                    </label>
                </div>
            </div>
        </section>
    </main>
<% include ./partials/footer.ejs %>